@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>


  
    <address>

        <strong>
            Random Address Here<br />
           Random City and State Here<br />
            <abbr title="Phone">Phone:</abbr>
            Type Phone Number(s)

        </strong>

    </address>


<address>
    <strong>Email:</strong>   <strong><a href="mailto:you@me.com"> Change Email Address
           </a></strong><br />
</address>