@{
    ViewBag.Title = "Administration";
}

<h2>Administration Page</h2>

<div class="row">
    
        <div class="col-md-4">
            <h2>Priority Database</h2>
            <p>
                View, Create, Edit or Delete Priority Options
            </p>
            <p>

            <p><a class="btn btn-default" href="../Priorities/Index">Priority Database &raquo;</a></p>
            </p>
        </div>
<div>
    <div class="col-md-4">
        <h2>Category Database</h2>
        <p>
            View, Create, Edit or Delete Category Options
        </p>
        <p>
            <a class="btn btn-default" href="../Categories/Index">Category Database &raquo;</a>
        </p>
    </div>

    <div class="col-md-4">
        <h2>Tickets Database</h2>
        <p>
            View, Create, Edit or Delete Tickets
        </p>
        <p>
            <a class="btn btn-default" href="../Tickets/Index">Tickets Database &raquo;</a>
        </p>
    </div>
</div>
    </div>
<div class="row">
        <div class="col-md-4">
            <h2>Location Database</h2>
            <p>
                View, Create, Edit or Delete Location Options
            </p>
            <p>
                <a class="btn btn-default" href="../Location/Index">Location Database &raquo;</a>
            </p>
        </div>
  
            <div class="col-md-4">
                <h2>Regions Database</h2>
                <p>
                    View, Create, Edit or Delete Region Options
                </p>
                <p>
                    <a class="btn btn-default" href="../Regions/Index">Region Database &raquo;</a>
                </p>
            </div>
       

    <div class="col-md-4">
        <h2>Site User Database</h2>
        <p>
            View, Create, Edit or Delete Site User Options
        </p>
        <p>
            <a class="btn btn-default" href="../SiteAdmins/Index">Site User Database &raquo;</a>
        </p>
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Reports</h2>
        <p>
            View, Create, Edit or Delete Reports<br />
            **Currently Still Under Construction**
        </p>
        <p>
            <a class="btn btn-default" href="../Reports/Index">Reports Page &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Inventory</h2>
        <p>
            View, Create, Edit or Delete Inventory<br />
        </p>
        <p>
            <a class="btn btn-default" href="../Inventory/Index">Inventory Page &raquo;</a>
        </p>
    </div>
</div>
<hr />
        <div>
            @Html.ActionLink("Back To Home", "../Home/Index")
        </div>
  
       
  
